<h3 class="py-3 text-center">Catogery</h3>

<div class="container">
  <div id="cardCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          @for (item of catogery ; track $index) {
              <div class="col-md-3">
            <app-products-item [item]="item"></app-products-item>
          </div>
            }
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          @for (item of catogery ; track $index) {
              <div class="col-md-3">
            <app-products-item [item]="item"></app-products-item>
          </div>
            }

        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev "
      type="button"
      data-bs-target="#cardCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#cardCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
